@charset "UTF-8";
@import url(reset.css);
#j-page .section {
  position: relative; }

body {
  font-family: Arial, Microsoft Yahei, "微软雅黑";
  font-weight: 300;
  background-color: #2a313b; }

.u-logo {
  position: absolute;
  top: 31px;
  left: 52px;
  width: 168px;
  height: 40px;
  background: url(img/LOGO.png) no-repeat; }

.m-nav {
  position: absolute;
  z-index: 9;
  top: 40px;
  right: 58px; }
  .m-nav ul {
    position: relative; }
    .m-nav ul li {
      margin-left: 60px;
      float: left;
      height: 22px; }
      .m-nav ul li a {
        font-size: 14px;
        color: #FFFFFF; }
      .m-nav ul li:hover {
        border-bottom: 2px solid #50aef6; }
    .m-nav ul .nav-user {
      margin-left: 83px;
      font-size: 14px;
      color: #FFFFFF; }
      .m-nav ul .nav-user .nav-user-icon {
        position: absolute;
        margin-top: -2px;
        margin-left: -23px; }
      .m-nav ul .nav-user:hover {
        border-bottom: 0px; }
    .m-nav ul .action {
      border-bottom: 2px solid #50aef6; }
    .m-nav ul .link {
      position: absolute;
      top: -6px;
      right: -30px;
      display: block;
      cursor: pointer;
      font-size: 12px;
      padding: 0 15px;
      color: #FFF;
      line-height: 26px;
      border-radius: 2px;
      background: #50aef6; }
      .m-nav ul .link:hover {
        background: #38a3f5; }

#fp-nav {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 9;
  opacity: 1; }
  #fp-nav ul li {
    position: relative;
    display: block;
    width: 20px;
    height: 18px;
    margin: 7px; }
    #fp-nav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a span {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        background: #404a59;
        border-radius: 50%; }
    #fp-nav ul li .active span {
      background: #50aef6; }

#j-page-menu {
  left: 50%;
  bottom: 80px;
  position: absolute;
  left: 50%;
  margin-left: -15.5px; }
  #j-page-menu li {
    display: none; }
    #j-page-menu li .u-up-btn {
      display: block;
      cursor: pointer;
      width: 31px;
      height: 17px;
      background: url(img/menu_01.png);
      background-repeat: no-repeat; }
      #j-page-menu li .u-up-btn:hover {
        background: url(img/menu_02.png); }
    #j-page-menu li .u-up-btn-2 {
      display: block;
      cursor: pointer;
      width: 31px;
      height: 17px;
      background: url(img/menu_03.png);
      background-repeat: no-repeat; }
      #j-page-menu li .u-up-btn-2:hover {
        background: url(img/menu_04.png); }
  #j-page-menu .active {
    display: block; }

.m-page-01 {
  height: 1200px; }
  .m-page-01 .title {
    top: 40%;
    position: absolute;
    left: 50%;
    margin-left: -113.5px;
    width: 227px;
    height: 41px;
    background: url(img/TT_01.png) no-repeat; }
  .m-page-01 .main-line {
    top: 50%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 148px; }
    .m-page-01 .main-line .m-line {
      width: 7200px;
      position: relative; }
      .m-page-01 .main-line .m-line .line01 {
        position: absolute;
        width: 7200px; }
        .m-page-01 .main-line .m-line .line01 li {
          float: left;
          width: 1200px;
          height: 148px;
          background: url(img/line_01.png) 50% no-repeat; }
      .m-page-01 .main-line .m-line .line02 {
        position: absolute;
        width: 7200px; }
        .m-page-01 .main-line .m-line .line02 li {
          float: left;
          width: 1200px;
          height: 148px;
          background: url(img/line_02.png) 50% no-repeat; }
      .m-page-01 .main-line .m-line .line03 {
        position: absolute;
        width: 7200px; }
        .m-page-01 .main-line .m-line .line03 li {
          float: left;
          width: 1200px;
          height: 148px;
          background: url(img/line_03.png) 50% no-repeat; }
      .m-page-01 .main-line .m-line .line04 {
        position: absolute;
        width: 7200px; }
        .m-page-01 .main-line .m-line .line04 li {
          float: left;
          width: 1200px;
          height: 148px;
          background: url(img/line_04.png) 50% no-repeat; }

.m-page-02 {
  overflow: hidden; }
  .m-page-02 .page-bg-01 {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2000px;
    height: 950px;
    background: url(img/bg_01.png) center no-repeat; }
  .m-page-02 .page-bg-02 {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2000px;
    height: 950px;
    background: url(img/bg_02.png) center no-repeat; }
  .m-page-02 .page-bg-03 {
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2000px;
    height: 950px;
    background: url(img/bg_03.png) center no-repeat; }
  .m-page-02 .page-line-date {
    position: absolute; }
    .m-page-02 .page-line-date .year {
      margin-left: 522px;
      font-size: 14px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      color: #FFFFFF; }
    .m-page-02 .page-line-date .day {
      margin-left: 475px;
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      color: #4d6b87; }
  .m-page-02 .page-line {
    z-index: 4;
    top: 300px;
    right: 100px;
    position: absolute;
    width: 952px;
    height: 693px;
    background: url(img/img_01.png) no-repeat; }
  .m-page-02 .page-line-2 {
    z-index: 4;
    top: 300px;
    right: 800px;
    bottom: -70px;
    position: absolute;
    width: 444px;
    height: 693px;
    background: url(img/img_02.png) no-repeat; }
  .m-page-02 .title {
    z-index: 6;
    top: 30%;
    left: 20%;
    position: absolute;
    width: 410px;
    height: 148px;
    background: url(img/TT_02.png) no-repeat; }
    .m-page-02 .title p {
      padding-top: 76px;
      padding-left: 5px;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      opacity: 0.8; }

.m-page-03 {
  overflow: hidden; }
  .m-page-03 .page-bg {
    width: 100%;
    height: 783px;
    margin: 0px auto;
    background: url(img/bg_04.png) center no-repeat; }
  .m-page-03 .title {
    z-index: 6;
    top: 55%;
    left: 0%;
    position: absolute;
    width: 594px;
    height: 44px;
    background: url(img/TT_03.png) no-repeat; }
    .m-page-03 .title p {
      margin-top: -3px;
      padding-left: 186px;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      opacity: 0.8; }
  .m-page-03 .pc {
    z-index: 2;
    top: 13%;
    position: absolute;
    left: 50%;
    margin-left: -598px;
    width: 1196px;
    height: 646px;
    background: url(img/img_03.png) center no-repeat; }
  .m-page-03 .hand {
    top: 105px;
    right: 146px;
    z-index: 3;
    position: absolute;
    width: 214px;
    height: 247px;
    background: url(img/img_04.png) no-repeat; }
  .m-page-03 .lines {
    margin: 30px 0 0 190px;
    position: relative;
    width: 370px;
    height: 300px; }
    .m-page-03 .lines .user {
      top: 67px;
      right: 0px;
      position: absolute;
      width: 105px;
      height: 105px;
      background: url(img/user_02.png) no-repeat;
      opacity: 0; }
    .m-page-03 .lines .user02 {
      top: 0px;
      right: 182px;
      position: absolute;
      width: 125px;
      height: 65px;
      background: url(img/user_01.png) no-repeat;
      opacity: 0; }
    .m-page-03 .lines .user03 {
      top: 86px;
      right: 245px;
      position: absolute;
      width: 125px;
      height: 55px;
      background: url(img/user_03.png) no-repeat;
      opacity: 0; }
    .m-page-03 .lines .user04 {
      top: 174px;
      right: 231px;
      position: absolute;
      width: 105px;
      height: 115px;
      background: url(img/user_04.png) no-repeat;
      opacity: 0; }
    .m-page-03 .lines .line-group {
      top: 177px;
      right: 0px;
      position: absolute;
      width: 105px; }
      .m-page-03 .lines .line-group .img-group {
        position: absolute;
        margin: -20px 0 0 28px; }
      .m-page-03 .lines .line-group .line-01 {
        margin-bottom: 5px;
        width: 0px;
        height: 7px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-02 {
        margin-bottom: 9px;
        width: 0px;
        height: 5px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-03 {
        margin-bottom: 3px;
        width: 0px;
        height: 3px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-04 {
        margin-bottom: 15px;
        width: 0px;
        height: 3px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-05 {
        margin-bottom: 3px;
        width: 0px;
        height: 2px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-06 {
        margin-bottom: 3px;
        width: 0px;
        height: 2px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-07 {
        margin-bottom: 3px;
        width: 0px;
        height: 2px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-08 {
        margin-bottom: 17px;
        width: 0px;
        height: 2px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-09 {
        margin-bottom: 0px;
        width: 20px;
        height: 0px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-10 {
        margin-bottom: 3px;
        width: 0px;
        height: 2px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-11 {
        margin-bottom: 3px;
        width: 0px;
        height: 2px;
        background: #363d44; }
      .m-page-03 .lines .line-group .line-12 {
        margin-bottom: 3px;
        width: 0px;
        height: 2px;
        background: #363d44; }
    .m-page-03 .lines .line-13 {
      top: 87px;
      right: 111px;
      position: absolute;
      margin-bottom: 0px;
      width: 0px;
      height: 1px;
      background: #363d44; }
    .m-page-03 .lines .line-14 {
      top: 87px;
      right: 139px;
      position: absolute;
      margin-bottom: 0px;
      width: 1px;
      height: 0px;
      background: #363d44; }
    .m-page-03 .lines .line-15 {
      top: 32px;
      right: 139px;
      position: absolute;
      margin-bottom: 0px;
      width: 0px;
      height: 1px;
      background: #363d44; }
    .m-page-03 .lines .point-01 {
      top: 30px;
      right: 169px;
      position: absolute;
      margin-bottom: 0px;
      width: 5px;
      height: 5px;
      background: #363d44;
      opacity: 0; }
    .m-page-03 .lines .line-16 {
      top: 114px;
      right: 111px;
      position: absolute;
      margin-bottom: 0px;
      width: 0px;
      height: 1px;
      background: #363d44; }
    .m-page-03 .lines .point-02 {
      top: 112px;
      right: 232px;
      position: absolute;
      margin-bottom: 0px;
      width: 5px;
      height: 5px;
      background: #363d44;
      opacity: 0; }
    .m-page-03 .lines .line-17 {
      top: 141px;
      right: 111px;
      position: absolute;
      margin-bottom: 0px;
      width: 0px;
      height: 1px;
      background: #363d44; }
    .m-page-03 .lines .line-18 {
      top: 141px;
      right: 139px;
      position: absolute;
      margin-bottom: 0px;
      width: 1px;
      height: 0px;
      background: #363d44; }
    .m-page-03 .lines .line-19 {
      top: 231px;
      right: 139px;
      position: absolute;
      margin-bottom: 0px;
      width: 0px;
      height: 1px;
      background: #363d44; }
    .m-page-03 .lines .point-03 {
      top: 229px;
      right: 218px;
      position: absolute;
      margin-bottom: 0px;
      width: 5px;
      height: 5px;
      background: #363d44;
      opacity: 0; }

.m-page-04 .title {
  top: 25%;
  position: absolute;
  left: 50%;
  margin-left: -365px;
  width: 730px;
  height: 94px;
  background: url(img/TT_04.png) no-repeat;
  text-align: center; }
  .m-page-04 .title p {
    padding-top: 70px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8; }
.m-page-04 .icon {
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -365px;
  width: 730px; }
  .m-page-04 .icon .icon_01 {
    float: left;
    margin-right: 120px; }
  .m-page-04 .icon .icon_02 {
    float: left; }
  .m-page-04 .icon .icon_03 {
    float: right; }

.m-page-05 {
  background: url(img/bg_05.png) -1000px 300px no-repeat; }
  .m-page-05 .title {
    z-index: 6;
    top: 45%;
    left: 10%;
    position: absolute;
    width: 400px;
    height: 84px;
    background: url(img/TT_05.png) no-repeat; }
    .m-page-05 .title p {
      padding-top: 58px;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      opacity: 0.8; }
  .m-page-05 .list-con {
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 11;
    width: 100%; }
    .m-page-05 .list-con .pro-title {
      top: 20%;
      left: -20px;
      position: absolute;
      z-index: 12;
      width: 312px;
      height: 68px; }
    .m-page-05 .list-con .pro-tt {
      top: 20%;
      left: -20px;
      margin: 46px 0 0 232px;
      position: absolute;
      z-index: 13;
      width: 746px;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      opacity: 0.8; }
    .m-page-05 .list-con .pro-img {
      top: 20%;
      left: -20px;
      margin: 110px 0 0 225px;
      position: absolute;
      z-index: 14; }
      .m-page-05 .list-con .pro-img p {
        position: absolute;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.8;
        width: 360px; }
      .m-page-05 .list-con .pro-img .tt-01 {
        top: 202px;
        left: 9px; }
      .m-page-05 .list-con .pro-img .tt-02 {
        top: 202px;
        left: 395px; }
      .m-page-05 .list-con .pro-img .tt-03 {
        top: 460px;
        left: 9px; }
      .m-page-05 .list-con .pro-img .tt-04 {
        top: 460px;
        left: 395px; }
    .m-page-05 .list-con .con {
      right: -20px;
      position: absolute;
      z-index: 12;
      opacity: 0;
      width: 70%;
      background: #2f3742;
      border-left: 1px solid #353d49; }
    .m-page-05 .list-con .close {
      top: 21%;
      left: -100px;
      position: absolute;
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background: url(img/close.png) no-repeat;
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      /* IE 9 */
      -webkit-transform: rotate(0deg);
      /* Safari and Chrome */
      transition: transform 0.4s; }
      .m-page-05 .list-con .close:hover {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Safari and Chrome */ }
  .m-page-05 .list-bg {
    width: 100%;
    background: rgba(42, 49, 59, 0.8); }
  .m-page-05 .list {
    right: 20px;
    position: absolute;
    z-index: 10; }
    .m-page-05 .list .up-icon {
      top: 30%;
      margin-left: 160px;
      position: absolute;
      z-index: 10;
      cursor: pointer; }
@keyframes yuan {
  from {
    margin-top: -1px;
    margin-left: -1px;
    width: 74px;
    height: 74px;
    opacity: 0.6;
    border-radius: 37px; }
  to {
    margin-top: -75px;
    margin-left: -70px;
    width: 220px;
    height: 220px;
    opacity: 0;
    border-radius: 110px; } }
      .m-page-05 .list .up-icon .yuan-hand {
        margin-top: 25px;
        margin-left: 25px;
        position: absolute;
        z-index: 2;
        display: block;
        width: 20px;
        height: 24px;
        background: url(img/hand.png) no-repeat; }
      .m-page-05 .list .up-icon .yuan-01 {
        margin: 7px;
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        background: #fb7864;
        border-radius: 30px;
        opacity: 0.6;
        z-index: 1; }
      .m-page-05 .list .up-icon .yuan-02 {
        position: absolute;
        display: block;
        width: 74px;
        height: 74px;
        background: #fb7864;
        border-radius: 37px;
        opacity: 0.4; }
      .m-page-05 .list .up-icon .yuan-03, .m-page-05 .list .up-icon .yuan-04, .m-page-05 .list .up-icon .yuan-05 {
        margin-top: -1px;
        margin-left: -1px;
        position: absolute;
        display: block;
        width: 74px;
        height: 74px;
        border: 1px solid #475363;
        border-radius: 37px;
        opacity: 0.3;
        animation: yuan 2s ease infinite; }
      .m-page-05 .list .up-icon .yuan-04 {
        animation: yuan 2s ease 0.5s infinite; }
      .m-page-05 .list .up-icon .yuan-05 {
        animation: yuan 2s ease 1s infinite; }
    .m-page-05 .list ul li {
      float: right;
      width: 198px;
      cursor: pointer;
      border-right: 1px solid #353d49; }
      .m-page-05 .list ul li:last-child {
        border-left: 1px solid #353d49; }
      .m-page-05 .list ul li:hover {
        border-right: 1px solid #fb7864;
        background: #2f3742;
        transition: background 0.4s, border-right 0.4s;
        -webkit-transition: background 0.4s, border-right 0.4s; }
        .m-page-05 .list ul li:hover .title-01 {
          background: url(img/pro_tt_01_hover.png); }
        .m-page-05 .list ul li:hover .title-02 {
          background: url(img/pro_tt_02_hover.png); }
        .m-page-05 .list ul li:hover .title-03 {
          background: url(img/pro_tt_03_hover.png); }
        .m-page-05 .list ul li:hover .title-04 {
          background: url(img/pro_tt_04_hover.png); }
        .m-page-05 .list ul li:hover .title-05 {
          background: url(img/pro_tt_05_hover.png); }
      .m-page-05 .list ul li .con {
        position: relative;
        width: 100%; }
      .m-page-05 .list ul li .pro {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 11; }
        .m-page-05 .list ul li .pro .pro-01 {
          display: none;
          opacity: 0;
          top: 20px;
          right: 0px;
          position: absolute;
          width: 200px;
          background: url(img/pro_01.png) no-repeat; }
        .m-page-05 .list ul li .pro .pro-02 {
          display: none;
          opacity: 0;
          top: 20px;
          right: 0px;
          position: absolute;
          width: 200px;
          background: url(img/pro_02.png) no-repeat; }
        .m-page-05 .list ul li .pro .pro-03 {
          display: none;
          opacity: 0;
          top: 20px;
          right: 0px;
          position: absolute;
          width: 200px;
          background: url(img/pro_03.png) no-repeat; }
        .m-page-05 .list ul li .pro .pro-04 {
          display: none;
          opacity: 0;
          top: 20px;
          right: 0px;
          position: absolute;
          width: 200px;
          background: url(img/pro_04.png) no-repeat; }
        .m-page-05 .list ul li .pro .pro-05 {
          display: none;
          opacity: 0;
          top: 20px;
          right: 0px;
          position: absolute;
          width: 200px;
          background: url(img/pro_05.png) no-repeat; }
      .m-page-05 .list ul li .right-icon {
        margin-top: 2px;
        margin-left: 80px;
        position: absolute;
        height: 14px;
        border-right: 5px solid #fb7864; }
      .m-page-05 .list ul li .title-01 {
        top: 100px;
        right: 9px;
        position: absolute;
        width: 73px;
        height: 18px;
        background: url(img/pro_tt_01.png); }
      .m-page-05 .list ul li .title-02 {
        top: 100px;
        right: 9px;
        position: absolute;
        width: 73px;
        height: 18px;
        background: url(img/pro_tt_02.png); }
      .m-page-05 .list ul li .title-03 {
        top: 100px;
        right: 9px;
        position: absolute;
        width: 73px;
        height: 18px;
        background: url(img/pro_tt_03.png); }
      .m-page-05 .list ul li .title-04 {
        top: 100px;
        right: 9px;
        position: absolute;
        width: 73px;
        height: 18px;
        background: url(img/pro_tt_04.png); }
      .m-page-05 .list ul li .title-05 {
        top: 100px;
        right: 9px;
        position: absolute;
        width: 73px;
        height: 18px;
        background: url(img/pro_tt_05.png); }

.m-page-06 .title {
  z-index: 8;
  top: 35%;
  position: absolute;
  left: 50%;
  margin-left: -91.5px;
  width: 183px;
  height: 88px;
  background: url(img/TT_06.png) no-repeat;
  text-align: center; }
  .m-page-06 .title p {
    padding-top: 65px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8; }
.m-page-06 .menu {
  z-index: 8;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  display: block;
  cursor: pointer;
  width: 130px;
  height: 47px;
  background: #fb7864; }
  .m-page-06 .menu:hover {
    background: #fb6b55; }
  .m-page-06 .menu .text {
    z-index: 1;
    position: absolute;
    width: 130px;
    height: 47px;
    background: url(img/menu_text.png) center no-repeat; }
.m-page-06 .video-bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 400px; }

#wave {
  bottom: -200px;
  position: absolute; }

@media (max-width: 1366px) {
  .m-page-05 .title {
    left: 5%; }
  .m-page-05 .list-con .con {
    width: 85%; }
  .m-page-05 .list-con .close {
    top: 11%; }
  .m-page-05 .list-con .pro-title {
    top: 10%; }
  .m-page-05 .list-con .pro-tt {
    top: 10%; }
  .m-page-05 .list-con .pro-img {
    top: 10%; } }
