<!DOCTYPE html>
<html>
<head>
    <title>用户行为分析</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/css/main/data-access/common.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <% include ../inc/base-script.html %>
</head>
<body>
    <div id="main">
        <div class="header">
            <div class="title" data-position="bottom" data-delay="50" data-tooltip="">事件对象</div>
            <div class="right">
            </div>
        </div>
        <div id="event-object" class="s-table">
        </div>
    </div>
    <!--<script type="text/x-dot-template" id="tpl_eventObject_grid_operate_col">
        {{if(it.edit){}}
        <div role="gridOperate" class="grid-operate">
            <ul class="operate-menu">
                <li data-role="objEditGridRow">编辑</li>
            </ul>
        </div>
        {{ }else{ }}
        &nbsp;
        {{ } }}
    </script>-->
    <script type="text/x-dot-template" id="tpl_property_grid_operate_col">
        {{if(it.edit){}}
        <div role="gridOperate" class="grid-operate">
            <ul class="operate-menu">
                <li role="editGridRow">编辑</li>
                <li role="deleteGridRow">删除</li>
            </ul>
        </div>
        {{ }else{ }}
        &nbsp;
        {{ } }}
    </script>
    <script type="text/x-dot-template" id="tpl_eventObject_grid_button">
        <a class="btn-floating waves-effect waves-light top-menu"><i href="javascript:;" data-role="addEventObject" aria-hidden="true"></i><span class="st st-add"></span></a>
    </script>
    <script type="text/x-dot-template" id="tpl_eventTypeProperties">
        {{for(var i=0;i
        <it.length;i++){ if(it[i].disabled)continue;}} <li class="{{if(it[i].disabled){}}disabled{{}}}"><a href="#!" data-id="{{=it[i].id}}" data-name="{{=it[i].name}}">{{=it[i].name}}</a></li>
            {{}}}
    </script>
    <script type="text/x-dot-template" id="tpl_eventTypeProperties">
        {{for(var i=0;i<it.length;i++){ if(it[i].disabled)continue;}}
        <li class="{{if(it[i].disabled){}}disabled{{}}}"><a href="#!" data-id="{{=it[i].id}}" data-name="{{=it[i].name}}">{{=it[i].name}}</a></li>
        {{}}}
    </script>
    <script type="text/x-dot-template" id="tpl_property_slide_button">
        <a class="btn-floating waves-effect waves-light top-menu"><i href="javascript:;" role="addRow" aria-hidden="true"></i><span class="st st-add"></span></a><!-- <a class="btn-floating waves-effect waves-light top-menu"><i data-role="saveEvetTypeConfig" aria-hidden="true"></i><span class="st st-save"></span></a> -->
    </script>
    <script type="text/x-dot-template" id="tpl_eventProperties_slide">
        <div class="property-header">
            <div class="property-header-operate">
                <span role="closeProperty" class="back-bt"></span>
                <span role="saveProperty" class="save-property"></span>
            </div>
            <div class="event-slide-input">
                <p class="main-title">{{if(it.status === 'add'){ }}新建对象{{}else{}}编辑对象{{ } }}</p>
                <div class="slide-input-warp">
                    <div class="warp-for-tip">
                        <input autocomplete="off"{{if(!it.typeData.edit){ }} readonly{{}}} type="text" name="label" class="obj-label {{if(!it.typeData.edit){ }}not-edit{{}}}" value="{{=it.typeData.text||''}}" placeholder="请输入显示名称"/>
                    </div>
                    <div class="warp-for-tip">
                        <input autocomplete="off"{{if(it.status == 'edit'){ }} readonly{{}}} type="text" name="name" class="obj-name {{if(it.status == 'edit'){ }}not-edit{{}}}" value="{{=it.typeData.name||''}}" placeholder="请输入事件名称"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="property-table" class="s-table">

        </div>
    </script>
    <script type="text/javascript" src="/js/main/data-access/eventObject/index.js"></script>
</body>

</html>
