<!DOCTYPE html>
<html lang="en">
<head>
    <include file="./commons/rem.html" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>m站</title>
    <link rel="stylesheet" type="text/css" href="/static/mh5/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/mh5/css/usercenter.css">
</head>
<body>
    <%= html %>
</body>
</html>