// font
//----------------------------------------
///*
// Mac OS
// "STHeiti Light [STXihei]", "STHeiti Light", "STXihei", "STHeiti", "STKaiti", "STSong", "STFangsong"
// Windows
// "Microsoft YaHei", "SimSun", "SimHei", "KaiTi", "FangSong", "KaiTi_GB2312", "FangSong_GB2312", "YouYuan", "LiSu", "Microsoft JhengHei"
// */
$font-family-zh: "Microsoft YaHei", "SimSun", "STXihei", "STHeiti";
$font-family-en: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-zh: 12px/normal "Microsoft YaHei", "SimSun", "STXihei", "STHeiti";
$font-en: 12px/normal Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;