<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>瑞雪分析云-RX STREAM</title>
		<script>top!==window&&(top.location.href=location.href)</script>
		<link rel="stylesheet" href="../css/introduce/style.css" />
		<% include ../main/inc/base-script.html %>
	</head>
	<body>
			<div class="g-top">
				<div class="u-logo"></div>
				<div class="m-nav">
					<ul>
						<li class="action"><a href="../registUser">申请试用</a></li>
						<li><a href="http://fenxi.ruixuesoft.com/" target="_blank">瑞雪分析云</a></li>
						<li><a href="../doc/" target="_blank">文 档</a></li>
						
						<li id="userLogin"><a href="../Login">登 录</a></li>
						
						<li id="userInfo" class="nav-user"><span class="nav-user-icon"><img src="../css/introduce/img/user.png"></span><a></a></li>
						<li></li>
						<a id="startAnalysis" href="/index" class="link">开始分析</a>
					</ul>
				</div>
			</div><!--./g-top-->
			<div id="j-page">
				<ul id="j-page-menu">
					<li data-menuanchor="page1" class="active"><a href="#page2" class="u-up-btn"></a></li>
					<li data-menuanchor="page2"><a href="#page3" class="u-up-btn-2"></a></li>
					<li data-menuanchor="page3"><a href="#page4" class="u-up-btn"></a></li>
					<li data-menuanchor="page4"><a href="#page5" class="u-up-btn"></a></li>
					<li data-menuanchor="page5"><a href="#page6" class="u-up-btn"></a></li>
				</ul>
				<div class="section m-page-01">
					<div class="title"></div>
					<div class="main-line">
						<div class="m-line">
							<ul class="line01"></ul>
							<ul class="line02"></ul>
							<ul class="line03"></ul>
							<ul class="line04"></ul>
							<ul class="line05"></ul>
						</div>
					</div>
				</div><!--./section-->
				<div class="section m-page-02">
					<div class="page-w">
						<div class="title">
							<p>采用Druid实时处理分布式系统，平台针对多种数据源，不同终端用户行为、系统日志、业务数据等进行强大的筛选、分组和聚合，同时配备独有的查询加速功能，亿级数据秒级响应。</p>
						</div>
						<div class="page-line">
							<div class="page-line-date">
								<span class="day"></span>
								<span class="year"></span>
							</div>
						</div>
						<div class="page-line-2"></div>
						<div class="page-bg-01"></div>
						<div class="page-bg-03"></div>
						<div class="page-bg-02"></div>
					</div>
				</div><!--./section-->
				<div class="section m-page-03">
					<div class="pc">
						<div class="title">
							<p>通过拖拽式、所见即所得的操作方式，敏捷易用，快速、零门槛的完成大数据分析。</p>
						</div>
						<div class="hand"></div>
						<div class="lines">
							<div class="user"></div>
							<div class="line-group">
								<div class="line-01"></div>
								<div class="line-02"></div>
								<div class="line-03"></div>
								<div class="line-04"></div>
								<div class="line-05"></div>
								<div class="line-06"></div>
								<div class="line-07"></div>
								<div class="line-08"></div>
								<div class="line-09"></div>
								<div class="img-group">
									<div class="line-10"></div>
									<div class="line-11"></div>
									<div class="line-12"></div>
								</div>
							</div>
							<div class="line-13"></div>
							<div class="line-14"></div>
							<div class="line-15"></div>
							<div class="point-01"></div>
							<div class="line-16"></div>
							<div class="point-02"></div>
							<div class="line-17"></div>
							<div class="line-18"></div>
							<div class="line-19"></div>
							<div class="point-03"></div>
							
							<div class="user02"></div>
							<div class="user03"></div>
							<div class="user04"></div>
						</div>
					</div>
					<div class="page-bg"></div>
				</div><!--./section-->
				<div class="section m-page-04">
					<div class="title">
						<p>系统内置近20种数据可视化效果，满足各种个性化的展示需求，同时能自动识别数据特征，智能推荐合适可视化方案。</p>
					</div>
					<div class="icon">
						<span class="icon_01"><img src="../css/introduce/img/img_05.png"></span>
						<span class="icon_02"><img src="../css/introduce/img/img_06.png"></span>
						<span class="icon_03"><img src="../css/introduce/img/img_07.png"></span>
					</div>
				</div><!--./section-->
				<div class="section m-page-05">
					<div class="title">
						<p>不管您相信的程度有多大，分析工具潜在的成本节省是惊人的。</p>
					</div>
					<div class="list-con pro01">
						<div class="con">
							<a class="close"></a>
							<div class="pro-title"><img src="../css/introduce/img/pro_con_tt_01.png" alt="事件分析"></div>
							<div class="pro-tt">
								跟踪并记录用户行为，利用分析引擎强大聚合、分组、筛选能力，揭秘用户行为背后的意图。
							</div>
							<div class="pro-img">
								<img src="../css/introduce/img/pro_01_img.png" >
								<p class="tt-01">市场部花了巨大投入，网站流量明显提示，为何销售一直在下滑？</p>
								<p class="tt-02">多个维度分析用户行为，大胆假设仔细求证。</p>
								<p class="tt-03">根据分析结果，针对性的调整优化策略。</p>
								<p class="tt-04">问题解决，销售量稳步提升。</p>
							</div>
						</div>
						<div class="list-bg"></div>
					</div>
					<div class="list-con pro02">
						<div class="con">
							<a class="close"></a>
							<div class="pro-title"><img src="../css/introduce/img/pro_con_tt_02.png" alt="漏斗分析"></div>
							<div class="pro-tt">
								漏斗模型帮助你分析一个多步骤过程中每一步的转化与流失情况。
							</div>
							<div class="pro-img">
								<img src="../css/introduce/img/pro_02_img.png" >
								<p class="tt-01">网站改版后，销量明显下滑，问题出在哪？</p>
								<p class="tt-02">通过漏斗分析，排除了其他因素，问题出在支付环节。</p>
								<p class="tt-03">经过进一步检查，发现新版界面在IOS9环境出现BUG。</p>
								<p class="tt-04">销售量逐渐恢复到正常水平。</p>
							</div>
						</div>
						<div class="list-bg"></div>
					</div>
					<div class="list-con pro03">
						<div class="con">
							<a class="close"></a>
							<div class="pro-title"><img src="../css/introduce/img/pro_con_tt_03.png" alt="留存分析"></div>
							<div class="pro-tt">
								留存分析是一种用来分析用户参与情况/活跃程度的分析模型，考查进行初始行为后的用户中，有多少人会进行后续行为。这是衡量产品对用户价值高低的重要指标。
							</div>
							<div class="pro-img">
								<img src="../css/introduce/img/pro_03_img.png" >
								<p class="tt-01">哪一个渠道带来的用户黏性、活跃度最高？</p>
								<p class="tt-02">通过留存分析，量化渠道推广价值。</p>
								<p class="tt-03">结合公司情况，提出针对性的推广策略。</p>
								<p class="tt-04">获客成本显著下降，同时用户黏性得到提升。</p>
							</div>
						</div>
						<div class="list-bg"></div>
					</div>
					<div class="list-con pro04">
						<div class="con">
							<a class="close"></a>
							<div class="pro-title"><img src="../css/introduce/img/pro_con_tt_04.png" alt="回访频率"></div>
							<div class="pro-tt">
								回访分析可以告诉你用户有多依赖你的产品。
							</div>
							<div class="pro-img">
								<img src="../css/introduce/img/pro_04_img.png" >
								<p class="tt-01">分析回访分析比单看日活（DAU）优越在哪里？</p>
								<p class="tt-02">日活增长很快，但回访频次却较低。</p>
								<p class="tt-03">指定一个核心功能，然后查看在一段时间里用户进行该功能的频率。</p>
								<p class="tt-04">从分析得出新增加的活跃用户并未真正感受到产品价值。</p>
							</div>
						</div>
						<div class="list-bg"></div>
					</div>
					<div class="list-con pro05">
						<div class="con">
							<a class="close"></a>
							<div class="pro-title"><img src="../css/introduce/img/pro_con_tt_05.png" alt="传播分析"></div>
							<div class="pro-tt">
								发现你的潜在用户。
							</div>
							<div class="pro-img">
								<img src="../css/introduce/img/pro_05_img.png" >
							</div>
						</div>
						<div class="list-bg"></div>
					</div>
					<div class="list">
						<div class="up-icon">
							<span class="yuan-hand"></span>
							<span class="yuan-01"></span>
							<span class="yuan-02"></span>
							<span class="yuan-03"></span>
							<span class="yuan-04"></span>
							<span class="yuan-05"></span>
						</div>
						<ul>
							<li onclick="pro_mouse('pro05');">
								<div class="con">
									<div class="title-05"><span class="right-icon"></span></div>
								</div>
								<div class="pro">
									<div class="pro-05"></div>
								</div>
							</li>
							<li onclick="pro_mouse('pro04');">
								<div class="con">
									<div class="title-04"><span class="right-icon"></span></div>
								</div>
								<div class="pro">
									<div class="pro-04"></div>
								</div>
							</li>
							<li onclick="pro_mouse('pro03');">
								<div class="con">
									<div class="title-03"><span class="right-icon"></span></div>
								</div>
								<div class="pro">
									<div class="pro-03"></div>
								</div>
							</li>
							<li onclick="pro_mouse('pro02');">
								<div class="con">
									<div class="title-02"><span class="right-icon"></span></div>
								</div>
								<div class="pro">
									<div class="pro-02"></div>
								</div>
							</li>
							<li onclick="pro_mouse('pro01');">
								<div class="con">
									<div class="title-01"><span class="right-icon"></span></div>
								</div>
								<div class="pro">
									<div class="pro-01"></div>
								</div>
							</li>
						</ul>
					</div>
				</div><!--./section-->
				<div class="section m-page-06">
					<div class="title">
						<p>如何预见未来的市场和用户</p>
					</div>
					<a href="../Login" class="menu">
						<span class="text"></span>
					</a>
					<div id="wave"></div>
				</div><!--./section-->
			</div><!--./j-page-->
		<script type="text/javascript" src="../js/introduce/index.js" ></script>
		</body>
	</html>
</html>
