<div class="header">
    <div class="header-left">
        <!--<h1 class="header-logo"></h1>-->
        <!--<b class="icon-menu" title="菜单"><img alt="" src="css/main/img/icon-menu.png"></b>-->
    </div>
    <div class="header-data-count">数据总数：<span></span></div>
    <div class="header-right">
        <ul>
            <li><a href="javascript:void(0);"><img src="css/main/img/name.png"><span class="wel-come"><b class="user-name"><script type="text/javascript">var userName=localStorage.getItem('bas_userName');if(userName){document.write('欢迎您-' + userName)}</script></b></span></a></li>
            <li class="separator"></li>
            <li><a href="introduce"><img src="css/main/img/house.png"><span>首页</span></a></li>
            <li class="separator"></li>
            <li><a href="doc"><img class="imgages_icon" src="css/main/img/help.png"><span>帮助</span></a></li>
            <!--<li class="separator"></li>
            <li><a href="/admin/admin/index.html" target="_self"><img class="imgages_icon" src="css/main/img/tool.png"><span>设置</span></a></li>-->
            <li class="separator"></li>
            <li><a href="javascript:;"><img class="imgages_icon" src="css/main/img/tool.png"><span role="connectData">接入网站数据</span></a></li>
            <li class="separator"></li>
            <li role="logOut"><a href="javascript:void(0);"><img class="imgages_icon" src="css/main/img/back_.png"><span>退出</span></a></li>
        </ul>
    </div>
</div>